@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

div {
  text-align: center;
}

p {

font-size: 32px;
font-family: Rubik;
font-weight: regular;
}

h1 {

font-size: 30px;
font-family: Rubik;
font-weight: bold;
}

h2 {

font-size: 38px;
font-family: Rubik;
font-weight: regular;
}

h3 {

font-size: 38px;
font-family: Rubik;
font-weight: bold;
color:#ee509b;
}
