body {
		text-align: center;
		padding: 100px 0 0 0;
    overflow: hidden;
		background-color: #F4F4F4;
		}



#spin {
	-webkit-animation: rotation 6s infinite linear;
	animation: rotation 6s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
		}
}
