
/* @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap'); */

@font-face {
font-family: "Futura";
src: url(fonts/Futura-Medium-01.ttf);
}


body {
		text-align: center;

    overflow: hidden;
		background-color: #F4F4F4;
		}

		p {
			color: #3a1eff;
			font-size: 18px;
			font-weight: regular;
			text-align: left;
			font-family: Futura;
		}

		a:active {
		  color: #3a1eff;
			text-decoration: none;

		}

		a:visited {
		  color: #3a1eff;
			text-decoration: none;
		}

		a:hover {
		  color: #F4F4F4;
		  text-decoration: none;
			background-color: #3a1eff;
		}

		.clock {
		font-size: 4em;
		}


#spin {
	-webkit-animation: rotation 6s infinite linear;
	animation: rotation 6s infinite linear;
	position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
		}
}
