

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: black ;
  background-repeat: no-repeat;
  background-size: 1800px 800px;
}

@keyframes sq-spin {
    0% {
      background-color: blue;
      transform: rotate(0deg);
    }
    50% {
      background-color: red;
      width: 150px;
      height: 150px;
      transform: rotate(90deg);
    }
    100% {
      background-color: blue;
      transform: rotate(180deg);
    }
}
@keyframes sq-spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      width: 150px;
      height: 150px;
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes circ {
    from {
      border-radius: 50%;
    }
    to {
      border-radius: 25%;
    }
}

@keyframes chew {
    0% {
      height: 2px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    50% {
      height: 25px;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
    100% {
      height: 2px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
}

#likeicon
{
  position: fixed;
  top: 5%;
  left: 12.5%;
  width: 50px;
  height: 50px;

  margin-top: 230px;
  margin-bottom: 500px;
  margin-left: 71%;
}


#square:hover {

  background: lightblue;
  border: 0px solid blue;
}

#square {
  position: fixed;
  top: 5%;
  left: 12.5%;
  width: 350px;
  height: 350px;

  margin-top: 230px;
  margin-bottom: 100px;
}




#square02 {
  position: absolute;
  top: 70%;
  left: 12.5%;
  width: 30px;
  height: 30px;
  margin-left: 720px;

  animation: sq-spin 6000ms infinite;
  transform-origin: center;
}



#square03 {
  position: absolute;
  top: 0%;
  left: 12.5%;
  width: 30px;
  height: 30px;
  margin-left: 120px;
  margin-top: 80px;
  animation: sq-spin 3000ms infinite;
  transform-origin: center;
}

#square04:hover {

  background: GreenYellow;
  border: 0px solid GreenYellow;
}

#square04 {
  position: fixed;
  top: 5%;
  left: 12.5%;
  width: 250px;
  height: 258px;

  margin-top: 90px;
  margin-left: 500px;
}


#square05 {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 350px;
  height: 350px;
  margin-left: 500px;
  margin-top: 900px;
  animation: sq-spin 2500ms infinite;
  transform-origin: center;
}


#square06 {
  position: absolute;
  top: 5%;
  right: 12.5%;
  width: 100px;
  height: 100px;
  margin-top:15px;
  margin-right: 1000px;
  animation: sq-spin 6000ms infinite;
  transform-origin: center;
}

#square07:hover {

  background: gold;
  border: 0px solid gold;
}

#square07 {
  position: fixed;
  top: 5%;
  left: 12.5%;
  width: 150px;
  height: 158px;

  margin-top: 440px;
  margin-left: 870px;
}


#square08:hover {

  background: deeppink;
  border: 0px solid deeppink;
}

#square08 {
  position: fixed;
  top: 5%;
  left: 12.5%;
  width: 130px;
  height: 130px;

  margin-top: 480px;
  margin-left: -150px;
}


#circle:hover {
  background: pink;
  border: 0px solid pink;
}


#circle {
  position: fixed;
  top: 5%;
  right: 12.5%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top:15px;
  margin-right: -80px;
}

a {
  color: white;
  font-size: 22px;
  margin-top:15px;
  margin-right: -80px;


}

a:visited {
  color: white;
}



.box {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 25%;
}
