@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


body {

  	background-color: #F4F4F4;
		}

  

    p {
      color: #3a1eff;
      font-size: 30px;
      font-weight: meduim;
      text-align: center;
      font-family: Rubik;
    }
