
 @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


   h1 {
   color:white;
   font-size: 38px;
   text-align: center;
   font-family: Raleway;
   font-weight: bold;

   }

   h2 {
     color: white;
     font-size: 25px;
     text-align: center;
     font-family: Raleway;

   }

   h3 {
     color: white;
     font-size: 20px;
     font-family: Raleway;
     margin-left: 30%;
   }

   h4 {
     color: white;
     font-size: 16px;
     font-family: Raleway;
     text-align: center;
   }



 a {
   color: white;
   font-size: 20px;
   margin-left: 30%;
   font-family: Raleway;

 }

body {
  background-image: url("background.gif") ;
  background-repeat: no-repeat;
  background-size: 1800px 800px;
}



a:active {
  background: black;
}


a:hover {
  color: blue;
  text-decoration: underline;
}


a:visited {
  color: white;
}
